!!!
%html
  %head
    %title A Chat with Sinatra
    %meta{ 'http-equiv' => 'Content-Type',
           content: 'text/html;charset=utf-8' }
    - SCRIPTS.each do |src|
      %script{ type: 'text/javascript', src: src }
    - CSS.each do |src|
      %link{ rel: 'stylesheet', type: 'text/css', href: src }
  %body
    #cont.container
      #messages
      %form#controls
        .row
          #nick.col-xs-2 $nick
          #chan.col-xs-2 @ $channel
          .col-xs-7
            %input#command{ type: 'text' }
          .col-xs-1.nopad
            %input#send{ type: 'submit', value: 'Send' }
